---
layout: default
title: Projects &Delta; bharper.com
section: projects
--- 

    <div class="row-fluid">
      <div class="span3">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
      <div class="span7">
        <div class="header-box-hero hero-unit">
          <h1>Projects</h1>
        </div>
      </div>
      <div class="span2">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
          	{% include subnav_projects.html %}
            {% include subnav_global.html %}
          </ul>
        </div>
      </div>

      <div class="span7">
      	<div class="subnav">
      	  <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a class="active" href="/about/">Projects</a></li>
          </ul>
        </div>
      	<div class="body-content">
      	  <a name="projects"></a>
      	  <h2>Projects</h2>

          <p>
          Over the years I've worked on quite a number of different projects, large and small.  This part of my site is still work in progress, but here are some of the things I've worked on during my career.
          </p>
          <p>&nbsp;</p>
          <h4>Large Projects</h4>

          <ul>
            <li>Time Warner Cable</li>
            <li>BT Conferencing</li>
            <li>Symplified</li>
            <li>Acxiom</li>
            <li>Me.dium / OneRiot</li>
            <li>NetIdentity.com</li>
            <li>Freeskier Magazine</li>
            <li>Mallfinder Network / Placewise Media</li>
            <li>Bid4Vacations.com</li>
          </ul>
          <p>&nbsp;</p>
          <h4>Medium to Small Projects</h4>

          <ul>
            <li>Good Times Burgers</li>
            <li>HRO.com</li>
            <li>Kelty</li>
            <li>University of Northern Colorado</li>
          </ul>
          <p>&nbsp;</p><p>&nbsp;</p>
          <a name="projects_detail"></a>
          <h2>Selected Projects Details</h2>
          
          <p>
          This section is still being developed.
          </p>

      	</div>
      </div>
    </div>
      