---
layout: default
title: Software &Delta; bharper.com
section: software
--- 

    <div class="row-fluid">
      <div class="span3">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
      <div class="span7">
        <div class="header-box-hero hero-unit">
          <h1>Software</h1>
        </div>
      </div>
      <div class="span2">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
          	{% include subnav_software.html %}
            {% include subnav_global.html %}
          </ul>
        </div>
      </div>

      <div class="span7">
      	<div class="subnav">
      	  <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a class="active" href="/software/">Software</a></li>
          </ul>
        </div>
      	<div class="body-content">
      	  <a name="my_software"></a>
      	  <h2>My Software Projects</h2>
          
          <p>
          This section is still being developed.  While you're waiting, check out <a href="http://github.com/devnulled">my GitHub profile</a>.
          </p>

          <a name="other_software"></a>
          <h2>Other Software Contributions</h2>
          
          <p>
          I've contributed bug fixes/reports and other related stuff to Amarok, Apache Solr, JBoss, GitHub, and probably some other projects that I'm forgetting.  I'll make this content better later.
          </p>

      	</div>
      </div>
    </div>
      