			<!-- start subnav_contact.html -->
			<li class="nav-header">Ways To Contact Me</li>
            <li><a href="http://twitter.com/devnulled">Twitter</a></li>
            <li><a href="">Carrier Pigeon</a></li>
            <li><a href="">Smoke Signals</a></li>
            <li><a href="">Telegram</a></li>
            <li><a href="">Carrier Pigeon</a></li>
            <li><a href="">Ham Radio</a></li>
            <li><a href="">ARPANET</a></li>
            <li><a href="">ping</a></li>
            <li><a href="">dig</a></li>
            <li><a href="">nslookup</a></li>
            <li><a href="">tcpdump</a></li>
            <li><a href="">dump</a></li>
            <li><a href="">dookie</a></li>
            <li><a href="">poop</a></li>
            <li><a href="">are you still reading this?</a></li>
           	<!-- end subnav_contact.html -->