---
layout: default
title: Resources &Delta; bharper.com
section: resources
--- 

    <div class="row-fluid">
      <div class="span3">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
      <div class="span7">
        <div class="header-box-hero hero-unit">
          <h1>Resources</h1>
        </div>
      </div>
      <div class="span2">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
          	{% include subnav_resources.html %}
            {% include subnav_global.html %}
          </ul>
        </div>
      </div>

      <div class="span7">
      	<div class="subnav">
      	  <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a class="active" href="/resources/">Resources</a></li>
          </ul>
        </div>
      	<div class="body-content">
      	  <a name="friends_and_cowokers"></a>
      	  <h2>Friends and Coworkers</h2>
          
          <p>I've done my best to link to friends and coworkers sites-- if I'm missing you, its not intentional.  Let me know and I'll add you to the list.</p>

          <ul>
            <li><a href="http://carolstimmel.net/">Carol Stimmel</a></li>
            <li><a href="http://charlie.griefer.com/blog/">Charlie Griefer</a></li>
            <li><a href="http://www.seekingchaos.com/">Chris Lintz</a></li>
            <li><a href="http://david.garner.net/">David Garner</a></li>
            <li><a href="http://neidetcher.com">Demian Neidetcher</a></li>
            <li><a href="http://eriwen.com">Eric Wendelin</a></li>
            <li><a href="http://www.electromute.com/">Ingrid Alongi</a></li>
            <li><a href="http://blahstuff.com">Jake Sutton</a></li>
            <li><a href="http://jeremytanner.com/">Jeremy Tanner</a></li>
            <li><a href="http://mcjoe.jeklsoft.com/">Joe McTee</a></li>
            <li><a href="http://www.johnnywey.com">Johnny Wey</a></li>
            <li><a href="http://one.valeski.org/">Jud Valeski</a></li>
            <li><a href="http://kurtharriger.com/">Kurt Harriger</a></li>
            <li><a href="http://mattbrozovich.com">Matt Brozovich</a></li>
            <li><a href="http://nealenssle.com/">Neal Enssle</a></li>
            <li><a href="http://www.petefreitag.com/">Pete Freitag</a></li>
            <li><a href="http://thekohome.com/">Peter Ko</a></li>
            <li><a href="http://www.nomachetejuggling.com/">Rod Hilton</a></li>
            <li><a href="http://www.corfield.org/blog/">Sean Corfield</a></li>
            <li><a href="http://sean-leblanc.blogspot.com/">Sean LeBlanc</a></li>
          </ul>
      	</div>
      </div>
    </div>
      