---
layout: default
title: About Me &Delta; bharper.com
section: about
--- 

    <div class="row-fluid">
      <div class="span3">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
      <div class="span7">
        <div class="header-box-hero hero-unit">
          <h1>About</h1>
        </div>
      </div>
      <div class="span2">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
          	{% include subnav_about.html %}
            {% include subnav_global.html %}
          </ul>
        </div>
      </div>

      <div class="span7">
      	<div class="subnav">
      	  <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a class="active" href="/about/">About</a></li>
          </ul>
        </div>
      	<div class="body-content">
      	  <a name="about_me"></a>
      	  <h2>About Me</h2>
          <div class="hero-photo">
            <img src="/assets/b/img/photos/knight_rider.jpg" title="Brandon sitting in Knight Rider as a kid" />
            <h4>Sitting in Knight Rider as a Kid</h4>
          </div>
          Growing up in <a href="http://www.colorado.com/southeast">Southeastern Colorado</a> as a third generation Coloradoan, I was far from the bright lights of Denver.  In a remote area of wheat fields and feedlots where even the closest stop light was over 70 miles away, I still managed to grow-up immersed in technology.  My first computer was a <a href="http://www.99er.net/ti.shtml">Ti-99/4A</a>, followed by an <a href="http://en.wikipedia.org/wiki/Apple_IIe">Apple IIe</a>, and then my first PC, a hand-me-down <a href="http://www.old-computers.com/MUSEUM/computer.asp?c=286">IBM 286 AT</a>. Finally during my Sophomore year of High School, I built my first computer, a 486/25.
          </p>
          <p>
          I first started teaching myself programming in BASIC at age 8 with my best friend, but also played around in a language called Synapps, and also just a bit of C++ before graduating High School.  I first started using the internet sometime around 1992 via BBS'es, and published my first website on Geocities in 1995.
          </p>
          <div class="hero-photo">
            <img src="/assets/b/img/photos/football.jpg" title="My photo from the 1998 Colorado Arkansas All-Conference Football Game in Lamar, CO" />
            <h4>SPORTSBALL!</a4>
          </div>
          <p>
          Also during High School, I was also a student athlete (all-conference Defensive End among other sports), qualified for the <a href="http://www.csef.colostate.edu/">Colorado Science and Engineering Fair</a>, won a couple of programming competitions at <a href="http://www.opsu.edu/">Panhandle State University</a>, played percussion in band, and was on our Knowledge Bowl team.  Outside of school I also did quite a few other things like working for farmers moving/branding cattle, moving irrigation pipe and helped my dad build and run a convenience store.
          </p>
          <p>
          My humble and hardworking beginnings bring me to my current state, where I am a husband, father, and Software Engineer having worked in the field for 14 years.  Over the years I have continued my autodidactic nature and have learned about all kinds of things from different languages and techniques, to photography.  I'm currently a little over a year shy from completing my Computer Science degree, and will probably go finish it up once my kiddo is a little older.
          </p>
          <div class="hero-photo">
            <img src="/assets/b/img/photos/2012-me-glasses.jpg" title="Yep, that's me" />
            <h4>Yep, That's Me</h4>
          </div>
          <p>
          I'm very passionate about Software Engineering and keep up with it both for my career as well as a hobby.  I believe in Kanban, test-driven development with high levels of unit and integration tests with as much automation as possible.. to the point of continuous deployment.  I hate Perl and PHP, am at a point in my career where Java is not that fun any longer, but would work with almost any other platform agnostic language.  I primarily develop in Scala at the moment, but am also play around with Ruby and Go in my free time, and Java at gunpoint.  I have also had training in Clojure but wasn't mentally ready to dig into functional programming, but Scala is helping with that immensely.  I pragmatically prefer to develop using Mac OS X, but would ditch it for Linux quite easily if they would finally agree on a desktop standard and make it suck a lot less.
          </p>
          <p>
          Personality-wise I'm pragmatic, curious, and humble. Very passionate about technology in general. Great communicator in both written and oral forms. I am not someone who likes to jump to conclusions or blurt out answers to questions I do not know the answer to. Instead, I take a more cautious approach, but am not afraid to say “I don't know, but lets try X” when we just need to make progress.  As an experienced Engineer in both startups and large companies, I have a great sense of the sweet spot between "fast" and "good" in order to support both the short and long term goals of business.
          </p>
          <div class="hero-photo">
            <img src="/assets/b/img/photos/second_creek_motorcycle_racing.jpg" title="Track day at Second Creek sometime around 2003 I believe" />
            <h4>Track Day at Second Creek Raceway</h4>
          </div>
          <p>
          In my free time over the years, I have pursued many passions both inside and outside of technology.  My biggest hobby for a number of years was racing cars and motorcycles, and doing all of my own work on them.  One of my former cars, a '76 Datsun 280Z, was featured as <a href="http://www.autoblog.com/2006/12/20/rr-of-the-day-1976-datsun-280z/">AutoBlog's Readers Ride of the day</a>.  I've since sold all of my racing related projects and drive a respectably fast 5 door Subaru WRX.
          </p>
          <div class="hero-photo">
            <img src="/assets/b/img/photos/new_mexico.jpg" title="Example of my photography; taken in rural New Mexico" />
            <h4>Rural New Mexico</h4>
          </div>
          <p>
          My current biggest hobby outside of programming is photography.  I take photos in my free time of Denver and the West, and sell them via my <a href="http://store.bharperphoto.com">online store</a> to clients small and large, and everywhere in between.  I also have <a href="http://www.afwonline.com/ic280frm.asp?prodno=125-2010377&COMBO1=10208">prints for sale at American Furniture Warehouse</a>.
          </p>
          <p>
          Lastly and possibly most important out of everything you have read about me, I have maintained a sweet programmers beard for over 5 years now which helps empower me to write clean, well tested code.
          </p>
          <p>&nbsp;</p><p>&nbsp;</p>
          <a name="about_this_site"></a>
          <h2>About This Site</h2>
          <p>
          Lately I've been looking to simplify both my life and projects, and decided that I'd like to start ditching things like Wordpress, and instead, statically generating my personal websites from templates, etc.  Not only is this a much simpler thing to deal with than an install of Wordpress (based on shitty PHP), it's very cheap to host and scales very easily.
          </p>
          <p>
          I'll be the first one to admit that I'm more of a server side programmer than UI expert, but I can do better than most server side programmers.  That said, I created this site using other people's great work. I used <a href="http://jekyllrb.com/">Jekyll</a> to generate all of the pages in the site, and <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> for the HTML 5 based responsive layout and design.
          </p>
          <p>
          Once this site is somewhat feature complete, I plan on taking my lessons learned from it and creating a sort of template from it that other people can use to generate similar sites.  I think taking the time to do your own site rather than just putting up a shitburger on about.me to eat is much better, and you get to own your own content and traffic.
          </p>
      	</div>
      </div>
    </div>
      