
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Brandon Harper">

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Brandon Harper</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about/">About Me</a></li>
              <li><a href="/projects/">Projects</a></li>
              <li><a href="/software/">Software</a></li>
              <li><a href="/publications/">Publications</a></li>
              <li><a href="/resources/">Resources</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Code &amp; Career</li>
              <li><a href="http://coderwall.com/devnulled">Coderwall</a></li>
              <li><a href="http://github.com/devnulled">Github</a></li>
              <li><a href="http://linkedin.com/in/devnulled">LinkedIn</a></li>
              <li><a href="http://careers.stackoverflow.com/devnulled">Resume at Stackoverflow Careers</a></li>
              <li class="nav-header">My Other Sites</li>
              <li><a href="http://devnulled.com">devnulled</a></li>
              <li><a href="http://bharperphoto.com">brandon harper photo</a></li>
              <li><a href="http://denverinphotos.com">denver stock photography</a></li>
              <li class="nav-header">Elsewhere</li>
              <li><a href="http://www.last.fm/user/devnulled">last.fm</a></li>
              <li><a href="http://www.quora.com/Brandon-Harper">Quora</a></li>
              <li><a href="http://twitter.com/devnulled">Twitter</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        {{ content }}

      </div><!--/row-->

      <hr>

      <footer>
        <p>This joint is copyright &copy; 2007-9999, <a href="http://bharper.com">Brandon Harper</a></p>
        <p>Site statically generated by memes using <a href="http://jekyllrb.com/">Jekyll</a> and styled with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Source available <a href="https://github.com/devnulled/bharper.com">here</a>. Globally distributed in the cloud by <a href="http://aws.amazon.com/cloudfront/">Amazon Cloudfront</a></p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script type="text/javascript" language="javascript"
		src="assets/js/bootstrap.js"></script>

  </body>
</html>
