---
layout: default
title: Publications &Delta; bharper.com
section: publications
--- 

    <div class="row-fluid">
      <div class="span3">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
      <div class="span7">
        <div class="header-box-hero hero-unit">
          <h1>Publications</h1>
        </div>
      </div>
      <div class="span2">
      	<div class="header-box-blank hero-unit">
          <h1>&nbsp;</h1>
        </div>	
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
          	{% include subnav_publications.html %}
            {% include subnav_global.html %}
          </ul>
        </div>
      </div>

      <div class="span7">
      	<div class="subnav">
      	  <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a class="active" href="/publications/">Publications</a></li>
          </ul>
        </div>
      	<div class="body-content">
      	  <a name="my_blog"></a>
      	  <h2>My Software Blog: devnulled</h2>
          <p>
          <a href="http://devnulled.com">devnulled</a> is a blog which caters to software development related issues with a pro-unix and open standards slant.  I originally devnulled in early 2003 to write about various technical challenges I came across and how I fixed them.  Over the years the focus and changed a bit here and there, but overall I still primarily write about various software related issues.
          <p>
          Over the years devnulled has been featured on popular sites of the times including <a href="http://developers.slashdot.org/story/05/03/06/1834200/job-market-for-developers-evaluated">Slashdot</a>, Digg, O'Reilly Hacks (now MAKE Magazine), del.icio.us/popular, and the <a href="http://blog.indeed.com/2005/02/03/window-on-the-job-market/">Indeed Blog</a>.  At its peak, it regularly had over 2,000 unique visitors per day.  I haven't been maintaining it as well as I used to, but aim to start doing that again once I ditch Wordpress.
          </p>
          <p>&nbsp;</p><p>&nbsp;</p>
          <a name="books"></a>
          <h2>Books</h2>

          <p>
          After working on my first book, Inside ColdFusion MX, as a Technical Editor, I quickly learned that I would likely never be a book author as it takes A LOT of effort to write a book and keep-up with deadlines while also maintaining a full-time career.  However, I did really enjoy being a Technical Editor and have been getting back into it again recently.
          </p>
          <p>&nbsp;</p>
          <h4><a href="http://www.manning.com/kousen/">Making Java Groovy</a></h4>
          <h5>Technical Reviewer</h5>

          <p>
          Making Java Groovy is an upcoming title from Manning Press about enhancing existing Java projects with Groovy.  I served as a Technical Reviewer for many chapters in this book.
          </p>
          <p>&nbsp;</p>
          <h4><a href="http://www.amazon.com/dp/0735713049">Inside ColdFusion MX</a></h4>
          <h5>Technical Editor</h5>

          <p>
          Inside ColdFusion MX was a New Riders Press book about the first version of ColdFusion to be based on the J2EE platform, ColdFusion MX.  This book was the first to market about ColdFusion MX and also maintained a 4.5 star rating on Amazon.
          </p>
          <p>&nbsp;</p><p>&nbsp;</p>
          <a name="magazines"></a>
          <h2>Magazines</h2>

          <p>
          Lets face it, magazines (in particular, developer magazines) are a dying breed.  I'm not sure that I'll have the chance to work on a magazine again, but I do have quite a bit of technical magazine publishing experience.
          </p>

          <p>&nbsp;</p>
          <h4>ColdFusion Developers Journal</h4>
          <h5>Member Of The Editorial Board</h5>

          <p>
          I served on the Editorial Board of this now defunct magazine for a couple of years in the mid-2000's before it met its ultimate demise by it's publisher.  I helped pick and edit stories for the magazine, as well as steer authors on works in progress.
          </p>
          <p>&nbsp;</p>
          <h4>Java Developers Journal</h4>
          <h5><a href="http://brandonharper.sys-con.com/">Author</a></h5>

          <ul>
            <li><a href="http://java.sys-con.com/node/335017">Why Java Is Not Slow</a></li>
            <li><a href="http://java.sys-con.com/node/313594?page=0,1">i-Technology Predictions for 2007: Where's It All Headed?</a></li>
            <li><a href="http://java.sys-con.com/node/48507">An Evaluatiion The Current Technical Job Market</a></li>
          </ul>
          <p>&nbsp;</p>
          <h4>ColdFusion Developers Journal</h4>
          <h5><a href="http://brandonharper.sys-con.com/">Author</a></h5>

          <ul>
            <li><a href="http://coldfusion.sys-con.com/node/317593">Why Interfaces in ColdFusion Are Irrelevant</a></li>
            <li><a href="http://coldfusion.sys-con.com/node/154224">Differences Between Consulting and Product Development</a></li>
            <li><a href="http://coldfusion.sys-con.com/node/46789">HTTP Status Codes: Do the Unthinkable</a></li>
          </ul>
          
      	</div>
      </div>
    </div>
      